:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.1rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
/* generic styles for the page */
body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
}
h1,
h2,
h3,h4 {
    margin: 0;
}
a {
    color: var(--magenta);
}

a:hover {
    color: var(--hotmag);
    text-decoration: none;
}

/*nav styles */
nav {
    font-family: var(--mono);
    font-size: 80%;

}

nav h1 { 
    font-family: var(--sans);
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: var(--white);
    display: block;
}



nav li:first-child{
    flex-basis: 100%;
    text-align: center;
    margin-top: 1rem;
}



nav [class*="fa-"] {
  color: var(--aqua);
  font-size: 140%;
}
nav h1 [class*="fa-"] {
  color: var(--aqua);
  font-size: 90%;
}

nav [class*="fa-"]:hover {
  color: var(--magenta);
}


.button {
    background-color: var(--hotmag);
    padding: 0.5rem;
    border-radius: 5px;
}

.button:hover {
    color: var(--white);
    background-color: var(--magenta);

}
/* intro styles */
#intro {
    line-height: 1.5;
}
#intro p {
    font-size: 15px;
    
}

.name span {
    display: block;
    font-size: 25px;
    color: var(--aqua);
}

#contact {
    background-color: var(--plum);
    text-align: center;
    
}

#contact div {
    width: 400px;
    margin: 0 auto;
    padding: 3rem;
}

#contact p:last-child{
    margin-bottom: 3rem;
}


/* responsive desigh */

@media (min-width: 850px){
    nav {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
    }
    nav li:first-child{
        flex-basis: auto;
        margin-right: auto;
    }

    nav ul {
        align-items: baseline;
    }
    
}

/* footer */

footer {
    background-color: var(--black);

}

footer ul {
    list-style-type: none;
    display: flex;
    gap:1rem;
    justify-content: center;
    flex-wrap: wrap;
}



